<p id="notice"><%= notice %></p>
<% provide(:page_title, @project.title) %>
<% provide(:author, 'active') %>

<div>
  <%= link_to 'Edit', edit_authors_project_path(@project), class: 'btn btn-sm btn-warning' %>
  <%= link_to 'Remove', authors_project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %></td>
</div>


<%= link_to 'Back', authors_projects_path %>
<div class="row">
  <div class= "col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
    <h1><%= @project.title %></h1>
    <p><%= @project.display_day_published %></p>
    <%= @project.body %>
  </div>
</div>
