<p id="notice"><%= notice %></p>
<% provide(:page_title, @project.title) %>
<% provide(:author, 'active') %>

<div>
  <%= link_to 'Return', authors_projects_path, class: 'btn btn-primary btn-sm' %>
  <%= link_to 'Edit Project', edit_authors_project_path(@project), class: 'btn btn-sm btn-warning' %>
  <%= link_to 'Remove Project', authors_project_path(@project), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
</div>


<div class="row">
  <div class= "col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
    <h1><%= @project.title %></h1>
    <p><%= @project.display_day_published %></p>
    <%= @project.body %>
  </div>
</div>
