<p id="notice"><%= notice %></p>
<% provide(:page_title, @project.title) %>
<% provide(:projects_active, 'active') %>

<%= link_to 'Back', projects_path %> | 
<%= link_to 'Edit', edit_project_path(@project) %>
<div class="row">
  <div class= "col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
    <h1><%= @project.title %></h1>
    <p>April 25, 2021</p>
    <%= @project.body %>
  </div>
</div>
